In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("house_prices_data_training_data.csv", sep=',', header=None)

In [3]:
print(data)

               0                1       2         3          4            5   \
0              id             date   price  bedrooms  bathrooms  sqft_living
1      7129300520  20141013T000000  221900         3          1         1180
2      6414100192  20141209T000000  538000         3       2.25         2570
3      5631500400  20150225T000000  180000         2          1          770
4      2487200875  20141209T000000  604000         4          3         1960
...           ...              ...     ...       ...        ...          ...
21603         NaN              NaN     NaN       NaN        NaN          NaN
21604         NaN              NaN     NaN       NaN        NaN          NaN
21605         NaN              NaN     NaN       NaN        NaN          NaN
21606         NaN              NaN     NaN       NaN        NaN          NaN
21607         NaN              NaN     NaN       NaN        NaN          NaN

             6       7           8     9   ...     11          12  \
0      sqft_lot  floors  waterfront  view  ...  grade  sqft_above
1          5650       1           0     0  ...      7        1180
2          7242       2           0     0  ...      7        2170
3         10000       1           0     0  ...      6         770
4          5000       1           0     0  ...      7        1050
...         ...     ...         ...   ...  ...    ...         ...
21603       NaN     NaN         NaN   NaN  ...    NaN         NaN
21604       NaN     NaN         NaN   NaN  ...    NaN         NaN
21605       NaN     NaN         NaN   NaN  ...    NaN         NaN
21606       NaN     NaN         NaN   NaN  ...    NaN         NaN
21607       NaN     NaN         NaN   NaN  ...    NaN         NaN

                  13        14            15       16       17        18  \
0      sqft_basement  yr_built  yr_renovated  zipcode      lat      long
1                  0      1955             0    98178  47.5112  -122.257
2                400      1951          1991    98125   47.721  -122.319
3                  0      1933             0    98028  47.7379  -122.233
4                910      1965             0    98136  47.5208  -122.393
...              ...       ...           ...      ...      ...       ...
21603            NaN       NaN           NaN      NaN      NaN       NaN
21604            NaN       NaN           NaN      NaN      NaN       NaN
21605            NaN       NaN           NaN      NaN      NaN       NaN
21606            NaN       NaN           NaN      NaN      NaN       NaN
21607            NaN       NaN           NaN      NaN      NaN       NaN

                  19          20
0      sqft_living15  sqft_lot15
1               1340        5650
2               1690        7639
3               2720        8062
4               1360        5000
...              ...         ...
21603            NaN         NaN
21604            NaN         NaN
21605            NaN         NaN
21606            NaN         NaN
21607            NaN         NaN

[21608 rows x 21 columns]

In [4]:
data.dropna(inplace=True)
print(data)

               0                1         2         3          4   \
0              id             date     price  bedrooms  bathrooms
1      7129300520  20141013T000000    221900         3          1
2      6414100192  20141209T000000    538000         3       2.25
3      5631500400  20150225T000000    180000         2          1
4      2487200875  20141209T000000    604000         4          3
...           ...              ...       ...       ...        ...
17995  6414100026  20150108T000000    320000         2          1
17996  1346300035  20140626T000000  1.99E+06         5          3
17997  2212210360  20140702T000000    253000         2          1
17998   205000410  20140915T000000    630000         3        2.5
17999  2892600056  20150106T000000    216000         2          1

                5         6       7           8     9   ...     11  \
0      sqft_living  sqft_lot  floors  waterfront  view  ...  grade
1             1180      5650       1           0     0  ...      7
2             2570      7242       2           0     0  ...      7
3              770     10000       1           0     0  ...      6
4             1960      5000       1           0     0  ...      7
...            ...       ...     ...         ...   ...  ...    ...
17995         1802     11225       1           0     0  ...      7
17996         4480      5000     2.5           0     0  ...     12
17997         1310      7128       1           0     0  ...      7
17998         2320     32772       2           0     0  ...      9
17999         1130     12500       1           0     0  ...      7

               12             13        14            15       16       17  \
0      sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat
1            1180              0      1955             0    98178  47.5112
2            2170            400      1951          1991    98125   47.721
3             770              0      1933             0    98028  47.7379
4            1050            910      1965             0    98136  47.5208
...           ...            ...       ...           ...      ...      ...
17995        1802              0      1961             0    98125  47.7205
17996        3420           1060      1902             0    98112  47.6275
17997         940            370      1980             0    98031  47.3958
17998        2320              0      1992             0    98053  47.6304
17999        1130              0      1953             0    98055  47.4514

             18             19          20
0          long  sqft_living15  sqft_lot15
1      -122.257           1340        5650
2      -122.319           1690        7639
3      -122.233           2720        8062
4      -122.393           1360        5000
...         ...            ...         ...
17995  -122.323           1810        7332
17996  -122.315           3220        5600
17997  -122.189           1400        7161
17998  -121.988           2610       33305
17999  -122.187           1270       10798

[18000 rows x 21 columns]

In [5]:
data_1 = data.drop(0) #delete the first row (the header)
data_1 = data_1.drop(0, axis = 1) #delete the first col
data_1 = data_1.drop(1, axis = 1) #delete the second col 
print(data_1)

             2  3     4     5      6    7  8  9  10  11    12    13    14  \
1        221900  3     1  1180   5650    1  0  0  3   7  1180     0  1955
2        538000  3  2.25  2570   7242    2  0  0  3   7  2170   400  1951
3        180000  2     1   770  10000    1  0  0  3   6   770     0  1933
4        604000  4     3  1960   5000    1  0  0  5   7  1050   910  1965
5        510000  3     2  1680   8080    1  0  0  3   8  1680     0  1987
...         ... ..   ...   ...    ...  ... .. .. ..  ..   ...   ...   ...
17995    320000  2     1  1802  11225    1  0  0  3   7  1802     0  1961
17996  1.99E+06  5     3  4480   5000  2.5  0  0  5  12  3420  1060  1902
17997    253000  2     1  1310   7128    1  0  0  4   7   940   370  1980
17998    630000  3   2.5  2320  32772    2  0  0  3   9  2320     0  1992
17999    216000  2     1  1130  12500    1  0  0  4   7  1130     0  1953

         15     16       17        18    19     20
1         0  98178  47.5112  -122.257  1340   5650
2      1991  98125   47.721  -122.319  1690   7639
3         0  98028  47.7379  -122.233  2720   8062
4         0  98136  47.5208  -122.393  1360   5000
5         0  98074  47.6168  -122.045  1800   7503
...     ...    ...      ...       ...   ...    ...
17995     0  98125  47.7205  -122.323  1810   7332
17996     0  98112  47.6275  -122.315  3220   5600
17997     0  98031  47.3958  -122.189  1400   7161
17998     0  98053  47.6304  -121.988  2610  33305
17999     0  98055  47.4514  -122.187  1270  10798

[17999 rows x 19 columns]

In [1]:
data_1 = data_1.convert_dtypes()
data_1.apply(pd.to_numeric).dtypes                                             
data_1 = data_1.astype(float) #convert to float
print(data_1)
index = data_1.index
m = len(index)
print(m)

NameError: name 'data_1' is not defined

In [ ]:
data_2 = data.drop(0, axis = 1)
data_2 = data.drop(1, axis = 1)

data_2 = data_2.convert_dtypes() 

yy = data_2.iloc[:, 1]
XX = data_2.iloc[:, 2:]

XX["bathrooms1"] = XX["bathrooms"]**2
XX["floors1"] = XX["floors"]**3
XX["sqft_living1"] = XX["sqft_living"]**2
XX["sqft_living2"] = XX["sqft_living"]**3
XX["sqft_living3"] = XX["sqft_living"]**4
XX["sqft_lot1"] = XX["sqft_lot"]**(1/2)
XX["condition1"] = XX["condition"]**2
XX["condition2"] = XX["condition"]**3

In [ ]:
def featureNormalize(X):
    mu=np.zeros(1) 
    sigma=np.zeros(1)
    X = np.array(X)
    
    mu = np.mean(X, axis=0)
    sigma = np.std(X, axis=0, ddof=1)

    X = (X - mu)/sigma
    return X, mu, sigma

In [ ]:
X_norm, mu, sigma = featureNormalize(data_1)
X = np.concatenate([np.ones((m, 1)), X_norm], axis=1)

In [ ]:
def computeCostMulti(X, y, theta):
    # number of training examples 
    m = y.shape[0] #no of rows
    # You need to return the following variable correctly
    J = 0
    
    # ======================= YOUR CODE HERE ===========================
    h = np.dot(X, theta)
    
    J = (1/(2 * m)) * np.sum(np.square(np.dot(X, theta) - y))
    
    # ==================================================================
    return J

In [ ]:
def gradientDescentMulti(X, y, theta, alpha, num_iters):
    m = y.shape[0] # number of training examples
    
    # make a copy of theta, which will be updated by gradient descent
    theta = theta.copy()
    
    J_history =[]
    
    for i in range(num_iters):
        h=np.dot(X,theta)
        d = h - y
        delta = (1/m) * (d.T.dot(X))
        theta = theta - (alpha * delta.T)
        # save the cost J in every iteration
        J_history.append(computeCostMulti(X, y, theta))
    
    return theta, J_history

In [ ]:
X = np.hstack((np.ones((m,1)),X_norm))
y=data_1.iloc[:, 2].astype(float).values #all rows and columns (from col 2)
y=y.reshape(-1,1)
#print(y)
alpha =[0.2, 0.01, 0.3, 0.1]
num_iters = 40
theta = np.zeros(shape=(X.shape[1],1))
for i in range(0, len(alpha)):
    theta = np.zeros(shape=(X.shape[1],1))
    theta, J_history = gradientDescentMulti(X, y, theta, alpha[i], num_iters)
    plt.plot(range(len(J_history)), J_history ,label='Alpha {}'.format(alpha[i]))
plt.legend()
plt.show()
plt.show()

In [ ]:
print(theta)

In [ ]:
alpha = 0.1
num_iters = 400
theta,J_history= gradientDescentMulti(X, y, theta, alpha, num_iters)
print('theta computed from gradient descent:')
print(theta)

In [2]:
def normal_eqn(X, y):
    inv = np.linalg.pinv(X.T.dot(X))
    theta = inv.dot(X.T).dot(y)
    #theta = np.dot(np.dot(np.linalg.inv(np.dot(X.T,X)),X.T),y)
    return theta
X_1 = np.hstack((np.ones((m,1)),X_norm))
theta_1 = normal_eqn(X_1, y)
theta_1

NameError: name 'np' is not defined

In [ ]:
i=[3 ,1.75 ,3050 ,5000 ,2 ,0 ,0 ,4 ,11 ,2980 ,930 ,2002 ,1991 ,9813 ,47.6370 ,-122.375 ,1410 ,8750]
p=[mu[0]/sigma[0], mu[1]/sigma[1], mu[2]/sigma[2], mu[3]/sigma[3], mu[4]/sigma[4], mu[5]/sigma[5], mu[6]/sigma[6], mu[7]/sigma[7], mu[8]/sigma[8], mu[9]/sigma[9], mu[10]/sigma[10], mu[11]/sigma[11], mu[12]/sigma[12], mu[13]/sigma[13], mu[14]/sigma[14], mu[15]/sigma[15], mu[16]/sigma[16], mu[17]/sigma[17]]
x_1 = (i[0],p[0])
x_2 = (i[1],p[1])
x_3 = (i[2],p[2])
x_4 = (i[3],p[3])
x_5 = (i[4],p[4])
x_6 = (i[5],p[5])
x_7 = (i[6],p[6])
x_8 = (i[7],p[7])
x_9 = (i[8],p[8])
x_10 = (i[9],p[9])
x_11 = (i[10],p[10])
x_12 = (i[11],p[11])
x_13 = (i[12],p[12])
x_14 = (i[13],p[13])
x_15 = (i[14],p[14])
x_16 = (i[15],p[15])
x_17 = (i[16],p[16])
x_18 = (i[17],p[17])

y_pred = theta[0] + theta[1]*x_1 + theta[2]*x_2 + theta[3]*x_3 + theta[4]*x_4 + theta[5]*x_5 + theta[6]*x_6 + theta[7]*x_7 + theta[8]*x_8 + theta[9]*x_9 + theta[10]*x_10 + theta[11]*x_11 + theta[12]*x_12 + theta[13]*x_13 + theta[14]*x_14 + theta[15]*x_15 + theta[16]*x_16 + theta[17]*x_17 + theta[18]*x_18

print('The predicted price:')
print(y_pred[0])

In [ ]:
i=[3 ,1.75 ,3050 ,5000 ,2 ,0 ,0 ,4 ,11 ,2980 ,930 ,2002 ,1991 ,9813 ,47.6370 ,-122.375 ,1410 ,8750]
p=[mu[0]/sigma[0], mu[1]/sigma[1], mu[2]/sigma[2], mu[3]/sigma[3], mu[4]/sigma[4], mu[5]/sigma[5], mu[6]/sigma[6], mu[7]/sigma[7], mu[8]/sigma[8], mu[9]/sigma[9], mu[10]/sigma[10], mu[11]/sigma[11], mu[12]/sigma[12], mu[13]/sigma[13], mu[14]/sigma[14], mu[15]/sigma[15], mu[16]/sigma[16], mu[17]/sigma[17]]
x_1 = (i[0],p[0])
x_2 = (i[1],p[1])
x_3 = (i[2],p[2])
x_4 = (i[3],p[3])
x_5 = (i[4],p[4])
x_6 = (i[5],p[5])
x_7 = (i[6],p[6])
x_8 = (i[7],p[7])
x_9 = (i[8],p[8])
x_10 = (i[9],p[9])
x_11 = (i[10],p[10])
x_12 = (i[11],p[11])
x_13 = (i[12],p[12])
x_14 = (i[13],p[13])
x_15 = (i[14],p[14])
x_16 = (i[15],p[15])
x_17 = (i[16],p[16])
x_18 = (i[17],p[17])

y_pred = theta_1[0] + theta_1[1]*x_1 + theta_1[2]*x_2 + theta_1[3]*x_3 + theta_1[4]*x_4 + theta_1[5]*x_5 + theta_1[6]*x_6 + theta_1[7]*x_7 + theta_1[8]*x_8 + theta_1[9]*x_9 + theta_1[10]*x_10 + theta_1[11]*x_11 + theta_1[12]*x_12 + theta_1[13]*x_13 + theta_1[14]*x_14 + theta_1[15]*x_15 + theta_1[16]*x_16 + theta_1[17]*x_17 + theta_1[18]*x_18

print('The predicted price:')
print(y_pred[0])

In [ ]:
X = dataset.iloc[:, 3:].values
y = dataset.iloc[:, 2].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

kf = KFold(n_splits=10, random_state=100)

for train_index , test_index in kf.split(X):
    x_train , x_test = X[train_index,:],X[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]